@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --green:#27ae60;
    --orange:#f39c12;
    --red:#e74c3c;
    --black:#333;
    --light-color:#666;
    --white:#fff;
    --light-bg:#f6f6f6;
    --border:.2rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
 }
 
 *{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    color:var(--black);
 }
 
 *::selection{
   background-color: var(--green);
   color:var(--white);
 }
 
html {
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 6.5rem;
   height: 100%;
}

.login-bg {
  background-image: url(background_picture/home-bg.jpg);
  background-position: center;
  background-size: cover;
 }

 .register-bg {
  background-image: url(background_picture/home-bg.jpg);
  background-position: center;
  background-size: cover;
 }


.form-container form .btn,
.delete-btn,
.option-btn,
.update-btn,
.admin-btn,
.shop-btn {
  display: block;
  width: 100%;
  margin-top: 1rem;
  border-radius: 3rem;
  color: var(--black);
  font-size: 2rem;
  padding: 1.3rem 3rem;
  text-transform: capitalize;
  cursor: pointer;
  text-align: center;
  border: var(--border);
  box-shadow: 0 2px 4px darkslategray;
  transition: all 0.2s ease;
}

.form-container form .btn {
  background-color: 	#1DA1F2;
}

.update-btn {
  background-color: var(--green);
  text-decoration: none;
}

.delete-btn {
  background-color: var(--red);
  text-decoration: none;
}

.admin-btn {
  background-color: #1DA1F2;
  text-decoration: none;
}

.option-btn {
  background-color: var(--orange);
  text-decoration: none;
}

.shop-btn {
  background-color: gold;
  text-decoration: none;
}

.form-container form .btn:hover,
.delete-btn:hover,
.option-btn:hover,
.update-btn:hover,
.admin-btn:hover,
.shop-btn:hover {
  opacity: 0.8;
  color: var(--white);

}
.form-container form .btn:active,
.delete-btn:active,
.option-btn:active,
.update-btn:active,
.admin-btn:active,
.shop-btn:active {
  box-shadow: 0 0 2px darkslategray;
  transform: translateY(2px);
}

.flex-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.flex-btn > *{
  flex: 1;
}

.title {
  text-align: center;
  margin-top: 15rem;
  margin-bottom: 2rem;
  color: var(--black);
  font-weight: 700;
  font-size: 3.5rem;
}

.empty {
  font-size: 2rem;
  color: black;
  display: inline-block;
  max-width: 50rem;
  padding:4rem;
  margin:0 auto;
  text-align: center;
  border:var(--border);
  box-shadow: var(--box-shadow);
  background-color: #e7feff;
  border-radius: .5rem;
  margin-bottom: 150px;
}



.message {
  position: absolute;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--light-bg);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  z-index: 10000;
}

.message span {
  font-size: 2rem;
  color: var(--black);
}

.message i {
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--red);
}

@keyframes fadeIn {
  0%{
    transform: translateY(1rem);
  }
}

.message i:hover {
  color: var(--black);
}

.form-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container form{
  width: 50rem;
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  padding: 2rem;
  text-align: center;
}

.form-container form h3 {
  font-size: 3rem;
  font-weight: 800;
  color: var(--black);
  margin-bottom: 1rem;
  text-align: center;
}

.form-container form .box {
  width: 100%;
  margin: 1rem 0;
  border-radius: 0.5rem;
  border: var(--border);
  padding: 1.2rem 1.4rem;
  font-size: 1.8rem;
  color: var(--black);
  background-color: var(--light-bg);
}

.form-container .inputbox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.form-container .inputbox input {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid var(--black);
  outline: none;
  resize: none;
}

.form-container .inputbox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s ease;
  color: #666;
  text-align: left;
}

.form-container .inputbox input:focus ~ span, .form-container .inputbox input:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.form-container form p {
  margin-top: 2rem;
  font-size: 2.2rem;
  color: var(--light-color);
}

.form-container form p a {
  font-weight: 500;
  color: var(--red);
  text-decoration: none;
}

.form-container form p a:hover {
  text-decoration: underline;
}


/* ADMIN HEADER*/

.admin-header{
  background-color: var(--white);
  position: sticky;
  top: 0; left: 0; right: 0;
  z-index: 1000;
  box-shadow: 0px 5px  10px rgba(0,0,0,0.3);
  position: fixed;
  opacity: 1;
}

.admin-header .admin-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

.admin-header .admin-flex .admin-logo {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--black);
  text-decoration: none;
}

.admin-header .admin-flex .admin-logo span {
  color: var(--green);
}

.admin-header .admin-flex .adminnavbar a {
  padding: 0 20px;
  font-size: 20px;
  font-weight: 900;
  color: #23395d;
  text-decoration: none;
  transition: 0.3s ease;
}

.admin-header .admin-flex .adminnavbar a:hover {
  text-decoration: underline;
  color: coral;
}

.admin-header .admin-flex .admin-icon > *{
  color: var(--black);
  cursor: pointer;
  margin-left: 1.5rem;
  font-size: 4rem;
  padding: 0 7px;
  transition: 0.3s ease;

}


.admin-header .admin-flex .admin-icon > *:hover{
  color: coral;
}

#menu-btn {
  display: none;
}

.admin-header .admin-flex .profile{
  position: absolute;
  top: 120%; right: 2rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: 0.5rem;
  padding: 2rem;
  text-align: center;
  text-align: center;
  background-color: #e7feff;
  width: 33rem;
  display: none;
  animation: fadeIn 0.2s linear;
}

.admin-header .admin-flex .profile.active{
  display: inline-block;
}

.admin-header .admin-flex .profile img {
  height: 15rem;
  width: 15rem;
  margin-bottom: 1rem;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid black;
}

.admin-header .admin-flex .profile p {
  padding: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
  border: 2px solid black;
  background-color: white;
  color: var(--black);
  border-radius: 1rem;
}

/* ADMIN HEADER END */


/*ADMIN PROFILE */

.update-profile-bg{
  background-image: url(background_picture/home-bg.jpg);
  background-position: center;
  background-size: cover;
}

.update-profile form{
  max-width: 70rem;
  margin: 0 auto;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: 0.5rem;
  padding: 2rem;
  text-align: center;
}

.update-profile form .flex{
  gap: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.update-profile form img{
  height: 20rem;
  width: 20rem;
  margin-bottom: 1rem;
  border-radius: 50%;
  object-fit: conver;
  border: 1px solid black;
}

.update-profile form .inputBox {
  text-align: left;
  width: 49%;
}

.update-profile form .inputBox span{
  display: block;
  padding-top: 1rem;
  font-size: 1.8rem;
  color: var(--light-color);
}

.update-profile form .inputBox input{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid var(--black);
  outline: none;
  resize: none;
}


.update-profile form .flex .inputBox{
  width: 100%;
}


/*ADMIN PROFILE END*/




/* Media Queries */

@media (max-width:991px){
  html {
    font-size: 55%;
  }

  .update-profile form .flex {
    flex-wrap: wrap;
  }
}

@media (max-width:768px){
  #menu-btn{
    display: inline-block;
  }

  .admin-header .admin-flex .adminnavbar{
    border-top: var(--border);
    border-bottom: var(--border);
    background-color: var(--white);
    position: absolute;
    top: 99%; left: 0; right: 0;
    transition: 0.2s linear;
    clip-path: polygon(0 0,100% 0,100% 0, 0 0);
  }

  .admin-header .admin-flex .adminnavbar.active{
    clip-path: polygon(0 0,100% 0,100% 100%, 0 100%);
  }

  .admin-header .admin-flex .adminnavbar a {
    display: block;
    text-align: center;
    margin: 2rem;

  }

  .update-profile form .flex {
    flex-wrap: wrap;
  }
}

@media (max-width:450px){
  html {
    font-size: 50%;
  }

  .flex-btn{
    flex-flow: column;
    gap: 0;
  }

  .title {
    font-size: 3rem;
  }
}



















