/* Import the Inter font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

/* Set the font family for the body */
body {
  font-family: "Inter", sans-serif;
}

/* Set the font family for headings */
h1,
h2,
h3 {
  font-family: "Inter", sans-serif;
}

/* HEADER */

.header {
  position: top;
  width: 100%;
  left: 0px;
  background: #0a0a03;
  text-align: center;
  margin: 0;
}

.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 48px;
  letter-spacing: -0.022em;
  color: white;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

.bg {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.background-img1 {
  background-image: url("/LA1/imgs/replaceimg1.jpg");
}

/* PLOT */__
.background-img2 {
  background-image: url("/LA1/imgs/img2.png");
}

.yellow-rec {
  position: absolute;
  height: 34px;
  width: 136px;
  left: 893px;
  top: 1122px;
  border-radius: 6px;
  padding: 0px 8px 0px 8px;
  background: #eef0f2;
  border-radius: 6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  color: #252c32;
}

.movie-title {
  position: absolute;
  width: 687.11px;
  height: 67.76px;
  top: 1167.17px;
  left: 893.2px;
  /* left: calc(50% - 687.11px/2 + 276.75px); */
  /* top: calc(50% - 67.76px/2 - 397.45px); */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  /* or 120% */
  letter-spacing: -0.022em;
  color: #ffffff;
}

.icons {
  position: absolute;
  left: 890px;
  top: 1290px;
  border-radius: 0px;
  color: #f8d148;
}

.star2 {
  left: 920px;
}

.star3 {
  left: 950px;
}

.star4 {
  left: 980px;
}

.half-star {
  left: 1010px;
}
.subtext {
  position: relative;
  width: 200.63px;
  height: 36.26px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 48px;
  color: rgba(250, 253, 255, 0.8);
}

.subtext1 {
  position: absolute;
  top: 1127px;
  left: 1337.16px;
}

.subtext2 {
  position: absolute;
  top: 1127px;
  left: 1426.16px;
}

.subtext3 {
  position: absolute;
  top: 1214.72px;
  left: 893.31px;
}

.subtext4 {
  position: absolute;
  top: 1214.72px;
  left: 968.5px;
}

.subtext5 {
  position: absolute;
  top: 1214.72px;
  left: 1076.54px;
}

.subtext6 {
  position: absolute;
  top: 1214.72px;
  left: 1262.16px;
}

.subtext7 {
  position: absolute;
  top: 1214.72px;
  left: 1387.97px;
}

.yellow-line {
  position: absolute;
  width: 5px;
  height: 698px;
  top: 1050.03px;
  left: 1239.31px;

  background: #f8d148;
  transform: rotate(90deg);
}

.plot-text {
  position: absolute;
  width: 687.11px;
  height: 198.76px;
  top: 1381.03px;
  left: 893.31px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 48px;
  /* or 185% */
  letter-spacing: -0.022em;
  color: #ffffff;
  text-align: justify;
}

.subtext8 {
  position: absolute;
  top: 1607.51px;
  left: 893.31px;
  text-decoration: none;
}

.trailer {
  position: absolute;
  width: 445px;
  height: 65px;
  left: 889.4px;
  top: 1750.97px;
  background-color: #f8d148;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.006em;
  color: #000000;
  border-radius: 20px;
}

.arrow {
  padding-left: 10px;
}

.img1 {
  position: absolute;
  width: 232px;
  height: 143.55px;
  left: 1637.56px;
  top: 1033.03px;
}

.img2 {
  position: absolute;
  width: 231px;
  height: 129px;
  left: 1637.28px;
  top: 1200.04px;
}

.img3 {
  position: absolute;
  width: 231px;
  height: 129px;
  left: 1636px;
  top: 1352.79px;
}

.img4 {
  position: absolute;
  width: 229.72px;
  height: 129px;
  left: 1638.7px;
  top: 1505.54px;
}

.img5 {
  position: absolute;
  width: 229.72px;
  height: 129px;
  left: 1638.7px;
  top: 1658.29px;
}

/* IMAGE */
.container .image-container .image:hover img {
  transform: scale(1.1);
}

.container .popup-image {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}

.container .popup-image span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #ffffff;
  cursor: pointer;
  z-index: 100;
}

.container .popup-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #ffffff;
  border-radius: 5px;
  width: 750px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .container .popup-image img {
    width: 95%;
  }
}

/* REVIEWS */
.background-img3 {
  background-image: url("/LA1/imgs/img3.png");
}

.review-title {
  font-family: "Kumbh Sans";
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 93px;

  width: 100%;
  height: 93px;
  margin: 0;
  padding-top: 40px;
  text-align: center;
}

.review1 {
  position: absolute;
  left: 250px;
  top: 2107px;
  width: 492.21px;
  height: 333px;
  border-radius: 30px;
  margin: 50px;

  border: 1px solid rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
}

.review2 {
  position: absolute;
  left: 1111.79px;
  top: 2107px;
  width: 492.21px;
  height: 333px;
  border-radius: 30px;
  margin: 50px;

  border: 1px solid rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
}

.review-photo1 {
  box-sizing: border-box;

  position: absolute;
  width: 125px;
  height: 125px;
  left: 330px;
  top: 2180px;
  border-radius: 50%;

  border: 3px solid #000000;
}

.review-photo2 {
  box-sizing: border-box;

  position: absolute;
  width: 125px;
  height: 125px;
  left: 1180px;
  top: 2180px;
  border-radius: 50%;

  border: 3px solid #000000;
}

.name1 {
  position: absolute;
  width: 333.83px;
  height: 73px;
  left: 490px;
  top: 2160px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 28px;

  display: flex;
  align-items: center;
  letter-spacing: -0.2px;

  color: white;
}

.name2 {
  position: absolute;
  width: 333.83px;
  height: 73px;
  left: 1330px;
  top: 2160px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 28px;

  display: flex;
  align-items: center;
  letter-spacing: -0.2px;

  color: white;
}

.line1 {
  position: absolute;
  width: 492.21px;
  height: 0px;
  left: 300px;
  top: 2330px;

  border: 1px solid rgba(0, 0, 0, 0.5);
}

.line2 {
  position: absolute;
  width: 492.21px;
  height: 0px;
  left: 1160px;
  top: 2330px;

  border: 1px solid rgba(0, 0, 0, 0.5);
}

.comment1 {
  position: absolute;
  width: 394.52px;
  height: 105px;
  left: 350px;
  top: 2340px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;

  color: white;
}

.comment2 {
  position: absolute;
  width: 394.52px;
  height: 105px;
  left: 1220px;
  top: 2320px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;

  color: white;
}

.watch-button {
  position: absolute;
  width: 450px;
  height: 100px;
  left: 740px;
  top: 2634px;

  background: #f8d148;
  border-radius: 20px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 24px;

  text-align: center;
  letter-spacing: -0.006em;

  color: #000000;
}
/* REVIEWS End */

/* Footer */

.footer {
  position: absolute;
  width: 100%;
  left: 0px;
  background: #0a0a03;
  text-align: center;
  margin: 0;
}

.credits {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 48px;
  letter-spacing: -0.022em;
  color: white;
}

/* Footer End */
