@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Alata", sans-serif;
}

.hamburger{
  display:none;
  cursor:pointer;
}

.bar{
  display:block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transform: all 0.3s ease-in-out;
  transform: all 0.3s ease-in-out;
  background-color:white;
}

body {
  /* flex: content; */
  position: flex;
  background-color: #18181b;
}

nav {
  height: auto;
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  align-items: center;
  /* padding-left: 3em; */
  /* background-color: #09529b; */
}

h3 {
  color: #f43f5e;
  font-size: 1em;
  font-weight: 600;
  margin-left: 7em;
  line-height: 0px;
}

nav ul {
  list-style: none;
  margin: 1em;
  padding: 1em;
  display: flex;
  font-size: 1em;
}

nav ul li {
  margin-left: 3em;
  line-height: 0px;
}

/* nav ul li:first-child {
  margin-left: 7em;
} */

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
}

.btn-sign {
  margin-left: auto;
  width: 10em;
  border-radius: 0.75em;
  margin-right: 5em;
  background-color: #27272a;
  color: white;
  border-style: none;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0.5em 1em;
}

nav ul li a:hover {
  color: #f43f5e;
  text-decoration: none;
}

/* MAIN CONTENT */

.contents {
  margin-top: 7em;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40em;
  /* background-color: aqua; */
  flex: content;
  justify-content: flex-start;
}

.content {
  /* margin-top: 10em; */
  width: 40%;
  height: auto;
  margin-left: 15em;
  /* margin-right: 20em; */
  padding-right: 20em;
  /* background-color: orange; */
  padding-top: 5em;
  /* background-color: #09529b; */
}

h4 {
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  margin-left: 0.5em;
}

.title {
  width: auto;
  height: auto;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 8em;
  line-height: 76%;
  /* or 76% */

  display: flex;
  align-items: center;

  background: linear-gradient(
    101.18deg,
    #09529b 14.55%,
    #0a8992 38.07%,
    #b61187 70.34%,
    rgba(119, 63, 12, 0.92) 85.91%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-emphasis-color: transparent;
}

.text {
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  margin-top: 2em;
}

.content-2 {
  width: auto;
  height: 100%;
  /* margin-left: 20em; */
  /* background-color: red; */
}

.img {
  width: 20em;
  height: 25em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 10px;
}

.details {
  width: 20em;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  /* background-color: #09529b; */
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.meet-detail {
  color: #71717a;
  font-size: 1em;
  padding: 0.3em 0;
}

.meet-pass {
  color: white;
  font-size: 1.1em;
  font-weight: 600;
  /* padding: 0.3em; */
}

.btn-register {
  width: 16em;
  height: 3em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 2em;
  font-size: 1.25em;
  font-weight: 500;
  background-color: transparent;
  color: white;
  border-style: none;
  border: 2px solid #fff;
  border-radius: 10px;
  /* background-color: #09529b; */
}


/* FOOTER */

.footer {
  /* margin-top: 100px; */
  /* margin-bottom: 50px; */
  background-color: black;
  /* background-color: #09529b; */
  display: flex;
  justify-content: start;
  /* align-items: start; */
  flex-wrap: wrap;
  flex-direction: row;
  height: fit-content;
}

.footer-content {
  padding-left: 30px;
  padding-right: 10px;
  width: auto;
  height: 150px;
  display: flex;
  margin-bottom: 2em;
}

.footer-title-company{
  color: #f43f5e;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 1em;
  padding-top: 1em;
}

.company {
  margin-left: 10em;
  flex-direction: column;
  margin-right: 5em;
  line-height: 1  ;
}

.footer-title {
  color: gray;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 10px;
  padding-top: 1em;
}

.text-list,
.text-list a {
  color: white;
 
  list-style: none;
  text-decoration: none;
}

.text-list li{
  padding-bottom: 7px;
}

.text-list a:hover {
  color: #f43f5e;
  text-decoration: none;
}

hr {
  color: #ccc;
  background-color: #ccc;
  height: 1px;
  width: 100%;
  border: 1px solid white;
}


.copyright{
  display: flex;
  /* background-color: #09529b; */
  width: 100%;
  justify-content: center;
  color:#f43f5e;
  font-size: 13px;
  font-weight: 500;
  padding-bottom: 10px;
  padding-top: 1em;
}

.footer-newsletter{
  width: 20em;
  margin-left: 31em;
  margin-top: 1.5em;
  line-height: 1;
  /* background-color: #09529b; */
}

.form{
  width: 99%;
  height: 35px;
  font-size: 1em;
  font-weight: 500;
  background-color: transparent;
  color: white;
  border-style: none;
  border: 2px solid #f43f5e;
  border-radius: 10px;
  text-indent: 7px;
}

.submit{
  width: 100%;
  height: fit-content;
  font-size:large;
  padding: 5px;
  margin-top: 0.5em;
}

@media (max-width: 1366px) {
  nav {
    padding-left: 0;
    /* background-color: #09529b; */
  }
  
  h3 {
    margin-left: 5em;
  }
  
  nav ul li {
    margin-left: 3em;
  }
  
  /* nav ul li:first-child {
    margin-left: 5em;
  } */
  
  .btn-sign {
    margin-right: 7em;
  }
  

  /* MAIN CONTENT  */
  .content {
    margin-left: 4em;
  }

  .title {
    width: fit-content;
  }

  .text{
    width: 100%;
    text-align: justify;
  }

  /* FOOTER  */
  .footer-content {
    padding-left: 1em;
    padding-right: 2em;
    padding-bottom: 1em;
  }

  .footer-title-company{
    font-size: 20px;
    padding-top: 1em;
  }

  .company {
    margin-left: 3em;
    margin-right: 3em;
  }
  
  .footer-title {
    font-size: 20px;
  }
  
  .text-list li{
    padding-bottom: 7px;
  }

  .footer-newsletter{
    margin-top: 1.5em;
    margin-left: 14em;
  }

  .form{
    text-indent: 7px;
  }
}

@media (max-width: 936px) {
  h3 {
    margin-left: 3em;
  }

  .btn-sign {
    margin-right: 2em;
  }

  /* MAIN CONTENT  */
  .contents {
    margin-top: 4em;
    height: 36em;
  }

  .content {
    /* margin-top: 10em; */
    width: 20%;
    margin-left: 3em;
    margin-right: 3.5em;
    /* background-color: #0a8992; */
  }
  
  h4 {
    font-size: 0.80em;
  }
  
  .title {
    width: fit-content;
    font-size: 6em;
  }
  
  .text {
    width: 26em;
    text-align: justify;
    /* background-color: #09529b; */
    font-size: 0.8em;
  }
  
  .content-2 {
    width: auto;
    height: 100%;
    /* margin-left: -5em; */
    /* background-color: #09529b; */
  }
  
  .img {
    width: 18em;
    height: 22em;
  }
  
  .details {
    width: 18em;
  }
  
  .meet-detail {
    font-size: 0.8em;
  }
  
  .meet-pass {
    font-size: 1em;
  }
  
  .btn-register {
    width: 14.5em;
    height: 2.5em;
  }

  /* FOOTER  */
  .footer-content {
    padding-left: 1em;
    padding-right: 2em;
    padding-bottom: 1em;
    /* background-color: #0a8992; */
  }
  
  .footer-title-company{
    font-size: 0.8em;
  }
  
  .company {
    margin-left: 1em;
    margin-right: 0em;
  }
  
  .footer-title {
    font-size: 1em;
  }
  
  .text-list,
  .text-list a {
    font-size: 0.9em;
  }
  
  .footer-newsletter{
    margin-right: 1em;
    width: 18em;
    margin-left: 5em;
  }

  .form{
    font-size: small;
    text-indent: 7px;
  }

  .submit{
    width: 100%;
    font-size: medium;
  }
}

@media (max-width: 600px) {
  .hamburger{
    display:block;
  }
  
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    position:fixed;
    left: -100%;
    top: 60px;
    gap: 0;
    flex-direction: column;
    background-color: #18181b;
    width: 100%;
    text-align:center;
    align-items: flex-start;
    transition: 0.3s;

  }

  .nav-menu.active{
    left: 0;
  }

  .navbar{
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }
  .nav-item{
    margin: 12px 0;
    margin-left: 0px;
  }

  .contents{
    display: flex;
    flex-direction: column;
    background-color: #18181b;
    max-height: fit-content;
  }

  .content-2{
    display: flex;
    flex-direction: column;
    align-items: flex-start
  }

  .img{
    display: none;
  }

  .details{

  }

  .btn-register{
  }
  .footer-content {
    padding-left: 1em;
    padding-right: 2em;
    padding-bottom: 1em;
    /* background-color: #0a8992; */
  }
  
  .footer-title-company{
    font-size: 0.8em;
  }
  
  .company {
    margin-left: 1em;
    margin-right: 0em;
  }
  
  .footer-title {
    font-size: 1em;
  }
  
  .text-list,
  .text-list a {
    font-size: 0.9em;
  }
  
  .footer-newsletter{
    margin-right: 1em;
    width: 18em;
    margin-left: 5em;
  }

  .form{
    font-size: small;
    text-indent: 7px;
  }

  .submit{
    width: 100%;
    font-size: medium;
  }



  {


}
  
}
